<<<<<<< HEAD
.card {
  overflow: visible;
}
.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}






#chats{
    background-color: #eee;
    margin: 20px auto 0;
    width: 100%;
}
#chats #header-chats{
    background-color: #555;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

#chats-mensaje{
    background-color: #A8DCF7;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
}
#chats-mensaje input{
    border: solid 1px #4193BF;
    outline: none;
    padding: 10px;
    width: 310px;
}
#chats-mensaje button{
    border: 0;
    background-color: #4193BF;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 50px;
}

#chats #mensajes{
    padding: 1px;
    height: 220px;
    width:100%;
    overflow: hidden;
    overflow-y: scroll 
}

#chats #mensajes .mensaje-autor{
     margin-left: 20px;
    margin-bottom: 10px;

}
#chats #mensajes .mensaje-autor img, #chats #mensajes .mensaje-amigo img{
    display: inline-block;
    vertical-align: top;
}
#chats #mensajes .mensaje-autor .contenido{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: 89%;
}
#chats #mensajes .mensaje-autor .fecha{
    color: #777;
    font-style: italic;
    font-size: 13px;
    text-align: right;
    margin-right: 35px;
    margin-top: 10px;
}
#chats #mensajes .mensaje-autor .flecha-izquierda{
    display: inline-block;
    margin-right: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

#chats #mensajes .mensaje-amigo{
        margin-left: 20px;
    margin-bottom: 20px;
}
#chats #mensajes .mensaje-amigo .contenido{
    background-color: #3990BF;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: 89%;
}
#chats #mensajes .mensaje-amigo .flecha-derecha{
    display: inline-block;
    margin-left: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #3990BF;
}
#chats #mensajes .mensaje-amigo img, #chats #mensajes .mensaje-autor img{
    border-radius: 5px;
}
#chats #mensajes .mensaje-amigo .fecha{
    color: #777;
    font-style: italic;
    font-size: 13px;
    text-align: left;
    
    margin-top: 10px;
}

/**/
/*   esta parte es del chat antiguo
.comments1 {
  
  font: .85em/1.5em Helvetica, sans-serif;
  padding: 1em; 
  margin: 0; 
  
  
}

.comment {
    list-style: none;
    padding: 0 0 2em 6em; 
    position: relative;
}
    .author {
      position: absolute;
      left: 0;
      top: 0;
      width: 4em;
      text-align: right;
      white-space: nowrap;
     }   
      .name {
        color: rgba(255,255,255,.35);
        display: block;
        font-size: .75em;
      }

.photo {
        
        width: 2em;
        border-radius: .25em;
      }
    
      
.content {
     
      padding: .25em 1em;
      border-radius: .5em;
      background: white;
      position: relative;
  }

  */


/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */
div.landing:before, div.landing:after {
        display: none !important;
    }
.default_color{background-color: #2196F3 !important}
.curso_color{background-color: #508695 !important}


.default_color_text{color: #2196F3 !important}

.curso{background-color: #2196F3 !important}
.icon-block {
    padding: 0 15px;
}


#intro, #work, #team {padding-top: 4rem;}

#index-fondo {
    min-height: 1050px;
    max-height: 1600px;
    background-image:url(imagen/fondo.jpg);
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
#index-banner {
     min-height: 800px;
    max-height: 1600px;
    background-image:url(imagen/fondo.jpg);
}

#index-curso {
    min-height: 800px;
    max-height: 1600px;
    position: relative;
    
}
#linkend2-curso {
    min-height: 230px;
    max-height: 230px;
    position: relative;
    background-color: #5e86a6;
}
#linkend-curso {
    min-height: 200px;
    max-height: 400px;
    position: relative;
    background-image:url(imagen/fondo.jpg);
}

#nav_f{
    -webkit-box-shadow: 28px -24px 32px 33px rgba(0,0,0,0.75);
-moz-box-shadow: 28px -24px 32px 33px rgba(0,0,0,0.75);
box-shadow: 28px -24px 32px 33px rgba(0,0,0,0.75);
    background-image:url(imagen/fondo.jpg);
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}
.login-text {
    padding: 5% 0;
    font-size: 3.0em;
    font-weight: 100;
    color:white;
}
.text-panelLogin {
       color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}
.text{ color:#ffffff; }

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}
/*ul li a*/
#cabecera li:hover { padding: 1px 4px; }
ul li:hover { opacity: 0.5;}


.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 10px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}



.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 20px !important;
}

.parallax-container {
    max-height: 800px;
}

footer.page-footer {
    margin-top: 0px !important;
}
#interlineado
{
    line-height: 2 ; font-size: 1em;
}
.panelForm{
    color: white;
    position: fixed;
    top: 60px;
    left: 50vw;
    width: 40vw;
    height: auto;
    transition: all .5s;
    z-index:100;
    padding:10px;
    opacity:1;
    box-shadow:0px 0px 0px #333
    min-height: 200px;
    max-height: 430px;
    background-image:url(imagen/fondo.jpg);
    display:none;
}
.chatform1{
    color:#fff;
}
#client1{
    background-color:#fff;
    color:#000;
}
.card-panel1{
    margin-top:0px;
    margin-bottom:0px;
}
#users_list{
    cursor: pointer;
}
.rectangle_hidden,.rectangle_hidden_client{
    height: 400px;
    width: 600px;
    overflow:scroll;
    overflow-x:hidden;
}
.rectangle_hidden_client{
    width:100%;
}
span.benefit {
        color:red;
}